.screencast {
  height: 100%;
  width: 100%;
  image-rendering: pixelated; /* Disables interpolation. See https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
}

.img-hidden {
  display: none;
}
