html,
body {
  height: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  font-weight: 400;

  overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
